html {
  --text-clr: var(--secondary-clr);
  --primary-clr: #ff4301;
  --background-clr: #4a3f35;
  --secondary-clr: #fa7d09;

  --empty-node-clr: #ffeadb;
  --start-node-clr: #3cc200;
  --end-node-clr: #ff0000;
  --visited-node-clr: #00a7e9;
  --result-node-clr: #f7bd00;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-clr);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
